@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body 
{
    background-color: lightblue;
    color: red;
    font-family: 'Montserrat', sans-serif;
}
  
  h1 
  {
    color: pink;
    margin-left: 30px;
  }
  h2 
  {
    color: green;
  }
  #header
  {
    height: 150px;
    line-height: 150px;
    background-color: lightblue;
  }
  #header_title {
    display: block;
    float: left;
    font-size: 20px;
    font-weight: bold;
  }
  #header_nav {
    display: block;
    float: right;
    margin-top: 0;
  }
    #header li 
    {
      display: inline;
      padding-left: 20px;
    }

  .container 
  {
    max-width: 1000px;
    margin: 0 auto;
  }