body 
{
    background-color: lightblue;
    color: red;
    font-family:
}
  
  h1 
  {
    color: pink;
    margin-left: 30px;
  }
  h2 
  {
    color: green;
  }
  header
  {
    background-color: yellow;
    text-align: center;
  }